/* Screen width below 640px */
html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  color: black;
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(
      to bottom,
      transparent,
      transparent
    )
    greenyellow;
}

@media (min-width: 620px){
  
}