/* Screen width below 640px */
html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  color: black;
  margin: 0 !important;
  padding: 0 !important;
  background: linear-gradient(
      to bottom right,
      #57f138,
      #6ee06a,
      #6feb59
    )
}

@media (min-width: 620px){
  
}