/* screen width above 1024px */
@media (min-width: 1024px) {
  .burger-menu {
    display: none; /* Hide burger menu by default */
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-links a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    margin: 0 0.5rem;
  }

  .intro-container {
    display: flex;
    padding: 0 1rem;
  }
  
  .intro-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    h1 {
      font-size: 40px;
      font-style: italic;
      margin: 0;
      text-align: center;
    }
  
    h2 {
      margin-top: 1rem;
      text-align: center;
    }
  }
  
  .playstore-image {
    display: flex;
    justify-content: center;
    
    img {
      width: 25%;
    }
  }
  
  .slider .slider-item {
    display: none;
    animation: reveal 0.5s ease-in-out;
  }
  
  .slider .slider-item.active {
    display: flex;
    margin: 0.5rem 15rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(241, 239, 239);
  }

  .slider-item{
    img {
      width: 35%;
    }

    p{
      font-size: 20px;
      text-align: center;
      margin: 0 1rem;
    }
  }
  
  .slider .dots {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  
  .slider .dots li {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 7px 11px;
    line-height: 0.5;
    border-radius: 50%;
    text-indent: -9999px;
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  
  .slider .dots li.active {
    opacity: 1;
  }
  
  @keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
}